<div class="glass_effect">
  <p class="centered_text">
    Mein Name ist Sergej, ich bin 26 Jahre alt und studiere derzeit Ingenieurinformatik im Bachelor. In meiner Freizeit spiele ich gerne Videospiele und gehe regelmäßig ins Fitnessstudio.
  </p>
  <p class="centered_text">
    Diese Webseite ist mein kleines Projekt, bei dem ich lerne, wie man Webseiten gestaltet und sie für andere im Internet zugänglich macht. Es ist eine persönliche Reise, bei der ich neue Fähigkeiten entwickle und meine Arbeit mit anderen teilen möchte.
  </p>
</div>