
nav {
  position: fixed;
  display: flex;
  width: calc(100vw - 32px);
  justify-content: space-around;
  align-items: center;
  height: 64px;
  min-height: 64px;
  max-height: 64px;
  overflow: hidden;
  top: 16px;
  left: 16px;
  right: 16px;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
  z-index: 100;
}

.logo {
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 300px;
  z-index: 101;
  padding: 0;
  list-style: none;
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  height: 100%;
  align-items: center;
}

.burger {
  display: block;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .burger {
    display: block;
  }

  .header-container {
    display: flex;
    position: absolute;
    z-index: 99;
    right: 16px;
    top: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: slideInRight 0.4s cubic-bezier(0.77,0,0.18,1) forwards;
  }

  .header-container .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    height: 200px;
    max-height: 200px;
    min-height: 200px;
    /* Prevent nav from growing in height, only width */
  }

  .header-container .nav-links li {
    opacity: 0;
    font-size: 1.3em;
    letter-spacing: 2px;
    animation: navLinkFade 0.5s ease forwards;
  }

  .header-container .nav-links li:nth-child(1) { animation-delay: 0.3s; }
  .header-container .nav-links li:nth-child(2) { animation-delay: 0.45s; }
  .header-container .nav-links li:nth-child(3) { animation-delay: 0.6s; }
  .header-container .nav-links li:nth-child(4) { animation-delay: 0.75s; }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideInRight {
    from {
      transform: translateX(100vw);
      opacity: 0.7;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}